{% extends 'layout.html' %} {% block main %}
<ol class="breadcrumb">
    <li><a href="/">management home page</a></li>
    <li><span>content list</span></li>
</ol>

<h3>content list</h3>

<table class="table table-hover table-striped">
    <tr>
        <th>ID</th>
        <th>content name</th>
        <th>user</th>
        <th>add-time</th>
        <td>views</td>
        <td>operation</td>
    </tr>
    {% for content in contents %}
    <tr>
        <td>{{content._id.toString()}}</td>
        <td>{{content.title}}</td>
        <td>{{content.user.username}}</td>
        <td>{{content.addtime|date('Y-m-d H:m:s')}}</td>
        <td>{{content.views}}</td>
        <td>
            <a href="/admin/content/edit?id={{content._id.toString()}}">edit</a> |
            <a href="/admin/content/check_comment?id={{content._id.toString()}}">check comment</a> |
            <a href="/admin/content/delete?id={{content._id.toString()}}">delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% include 'content_page.html' %}