<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>backstage</title>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/public/css/bootstrap-theme.min.css" type="text/css" />
    <script src="/public/js/jquery-1.12.4.min.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
</head>

<body>

    <!--top navigation-->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/admin">backstage managemet</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/admin/user">user management</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        category management <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/admin/category">category home page</a></li>
                            <li><a href="/admin/category/add">add category</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        content management <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/admin/content">content home page</a></li>
                            <li><a href="/admin/content/add">add content</a></li>
                        </ul>
                    </li>

                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        admin <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/">back</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        {%block main%}{%endblock%}
    </div>

</body>

</html>