<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Technology Blog</title>
    <link href="/public/css/main.css" rel="stylesheet" type="text/css">
    <link href="/public/fontAwesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script src="/public/js/jquery-1.12.4.min.js"></script>
    <script src="/public/js/index.js"></script>
</head>

<body>

    <header>
        <div class="logo"><img src="/public/images/wendy+.jpg" width="500px"></div>
    </header>

    <nav>
        <div class="menu">
            {%if category == ''%}
            <b><a href="/" class="focus">Home Page</a></b> {%else%}
            <a href="/">Home Page</a> {%endif%} {%for cate in categories%} {%if category == cate.id%}
            <a href="/?category={{cate.id}}" class="focus">{{cate.name}}</a> {%else%}
            <a href="/?category={{cate.id}}">{{cate.name}}</a> {%endif%} {%endfor%}
        </div>
    </nav>



    <main class="clear">
        <div class="mainLeft">
            {%block content%}{%endblock%}
        </div>

        <div class="mainRight">
            {% if userInfo._id %}
            <div class="rightBox" id="userInfo">
                <div class="title"><b><span>User Information</span></b></div>
                <p><span class="colDark">{{userInfo.username}}</span></p>

                {% if userInfo.isAdmin %}
                <p><b><span class="colDanger">Hello, Administrator</span></b></p>
                <b><a href="/admin">Enter to management</a></b> {% else %}
                <p><b><span class="colDanger">Hello, Welcome to my blog!</span></b></p>
                {%endif%}
                <p><span class="colDark"><b><a href="javascript:;" id="logout">Logout</a></b></span></p>
            </div>
            {% else %}
            <div class="rightBox" id="loginBox">
                <div class="title"><span>login</span></div>
                <div class="line"><span class="colDark">username：</span><input name="username" type="text" /><em></em></div>
                <div class="line"><span class="colDark">password：</span><input name="password" type="password" /><em></em></div>
                <div class="line"><span class="colDark"></span><button>log in</button></div>
                <p class="textRight">not registered yet?<a href="javascript:;" class="colMint">sign up now!</a>　</p>
                <p class="colWarning textCenter"></p>
            </div>

            <div class="rightBox" id="registerBox" style="display: none;">
                <div class="title"><span>sign in</span></div>
                <div class="line"><span class="colDark">username：</span><input name="username" type="text" /></div>
                <div class="line"><span class="colDark">password：</span><input name="password" type="password" /></div>
                <div class="line"><span class="colDark">confirm：</span><input name="repassword" type="password" /></div>
                <div class="line"><span class="colDark"></span><button>sign up</button></div>
                <p class="textRight">existing account？<a href="javascript:;" class="colMint">sign up now!</a>　</p>
                <p class="colWarning textCenter"></p>
            </div>
            {% endif %}

            <div class="rightBox">
                <div class="title"><span>Discuss</span></div>
                <p><a href="/chat" target="_blank" class="colDanger">Technology Communication</a></p>
            </div>
        </div>


    </main>

    <div class="copyright textCenter">Wendy | 2019.12.21</div>
</body>

</html>