 {%extends 'layout.html'%} {%block content%}
<div class="listBox">
    <h1>{{content.title}}</h1>
    <p class="colDefault">
        auther：<span class="colInfo">{{userInfo.username}}</span> - time：
        <span class="colInfo">{{content.addtime|date('Y-m-d H:i:s')}}</span> - view：
        <span class="colInfo">{{content.views}}</span> - comment：
        <span class="colInfo">{{content.comments.length}}</span>
    </p>
    <dfn>
            {{content.content}}
        </dfn>
</div>

<div class="listBox message">
    <h3 class="textLeft"><strong>comment</strong> <span class="em">totally have <em id="messageCount">{{content.comments.length}}</em> iterm of comment</span></h3>

    {% if userInfo._id %}
    <p class="textLeft">welcome to comment</p>
    <p class="textLeft clear">
        <textarea id="messageContent"></textarea>
        <input type="hidden" id="contentId" value="{{content.id}}">
        <button id="messageBtn" class="submit">submit</button>
    </p>
    {%else%}
    <p class="bgDanger" style="line-height: 30px;">You are not logged in, please log in first！</p>
    {%endif%}

    <div class="messageList">
    </div>

    <div class="pager">
        <ul class="clear">
            <li class="previous">
                <a href="">previous page</a>
            </li>
            <li></li>
            <li class="next">
                <a href="">next page</a>
            </li>
        </ul>
    </div>



</div>

<script src="/public/js/comment.js"></script>
{%endblock%}